*{
    list-style: none; 
    text-decoration: none; 
    font-family: "NanumSquare", "나눔고딕", "Dotum", "돋움", sans-serif; 
    color: #333
}

body{
    margin: 0px;
}

#warp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    min-width: 860px;
    width: 85vw;
    justify-content: space-evenly;
}


.logo {
    margin: 18px;
    margin-right: 0px;
    min-width: 240px
    
}

.logo a{
    color: #000;
    font-size: 25px;
    letter-spacing: 5px;
    min-width: 240px;
}

.navbar{
    padding-left: 0px;
    min-width: 590px;
}

.navbar li{
    padding-right: 40px;
    padding-left: 40px;
    
}

#index_wrap ul {
    display: block; 
    margin-bottom: 50px;
} 

#index_wrap ul li {
    display: inline-block; 
    margin: auto; 
    height: 40px;   
    cursor: pointer;
} 

#index_wrap ul li a {
    color: #000; 
    letter-spacing: 5px;
}

.navbar li::after {
    position: absolute;
    content:""; 
    display: block; 
    border-bottom: 2px solid #808080; 
    transition: width 250ms ease-in-out; left: auto; 
    width: 0; 
}

.underline1:hover::after {
    width: 70px;
}
.underline2:hover::after {
    width: 62px;
} 
.underline3:hover::after {
    width: 90px;
}
.underline4:hover::after {
    width: 92px;
} 

.page_link{
    float: left;
    margin-top: 16px;
    min-width: 95px;
}
.page_link img{
    width: 25px; height: 25px;
    padding-top: 13px;
}
.page_link a{
    padding-right: 20px;
}
.main_summary{
    display: table;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    margin: auto;
    min-width: 860px;
}

.sub_summary{
    padding-bottom: 30px;
}

.background img{
    height: 320px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 40px;
    min-width: 860px;
    
}
.main_contents{
    display: table;
    margin: auto;
    padding-bottom: 140px;

}

.main_contents dt{
    min-width: 100px;
    margin-left: 10px;
}

.main_contents dd{
    margin-left: 150px;
}

.top_warp{
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 30px;
    width: 90vw;
    
}
.top_title{
    float: left;
    font-size: 20px;

}
.top_contents{
    padding-left: 20px;
    color: #555555;
    
}
.bottom_title{
    float: left;
    font-size: 20px;

}
.profile_table {
    width: 65vw;
    border-top: 2px solid #444444;
    border-collapse: collapse;
    margin: auto;
    margin-left: 20px;
    min-width: 700px;
    
}
.profile_table th, td {
    border-bottom:  1px solid rgba(0,0,0,0.1); 
    padding: 10px;
}
.profile_table th{
    letter-spacing: 1px;
    text-align: left;

}
.profile_table td{
    color: #555555;
    letter-spacing: 0.5px;

}
.profile_table tr{
    height: 50px;
}

.profile_table a{
    text-decoration: none;
    color: #555555
}
footer{
    background-color: rgba(240,240,240);
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 60px;
    justify-content: space-evenly; 
    margin: auto;
    min-width: 860px;
}

.cop{
    min-width: 260px;
    text-align: center;
}
footer p{
    margin: auto;
    min-width: 160px;
    text-align: center;
}

.story_article{
    min-width: 860px;
    max-width: 1120px;
    width: 75vw;
    margin: auto;
    padding-bottom: 100px;
}

.story_sub_title{
    font-size: 30px;
    padding-left: 20px;
}

.story_summary{
    display: grid;
    grid-template-columns: 10px 0.3fr 0.6fr;
    justify-content: space-evenly; 
    margin: 0px;
    padding-left: 0px;
    
}
.story_contents{
    display: gird;
    grid-template-rows: 0.3fr 0.4fr 0.3fr;
    line-height: 60px;
    
}
.story_summary img{
    object-fit: cover;
    height: 160px;
    width: 220px;
    border-radius: 10%;
    margin-top: 20px;
}
.story_contents_top{
    font-size: 18px;
}
.story_contents_mid{
    font-size: 30px;
    font-weight: bold;
}
.story_contents_bot{
    font-size: 15px;
    color: #808080
}
.story_intro{
    display: grid;
    grid-template-rows: 5px 1fr;
    margin-top: 20px;
}
.story_dot{
    background-color:#000;
    width:10px;
    height:10px;
    border-radius:75px;
    text-align:center;
    margin:0 auto;
    font-size:12px;
    vertical-align:middle;
    line-height:10px;
}
.story_line{
    width: 2px;
    height: 250px;
    background-color: rgba(220,220,220);
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.archive_btn{
   padding-top: 10px;
   padding-bottom: 40px;
   font-size: 0px;
   box-sizing: border-box;
   
}
.archive_btn .select_box{
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
}
.line_box{
    position: relative;
}
.classfy_btn{
    position: relative;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #dce0e6;
    font-size: 15px;
    color: #333;
    text-align: left;
    line-height: 55px;
}
button{
    border: 0;
    background: none;
    -webkit-appearance: none;
}

.classfy_btn::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 18px;
    height: 12px;
    margin: -5px 0 0 0;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("down_angle.png");
    background-origin: padding-box;
    background-clip: border-box;
    background-size: contain;
}
/*
.underline::after{
    position: absolute; content:""; display: block; border-bottom: 2px solid #613; transition: width 250ms ease-in-out; left: auto; width: 0;
}
.underline:hover::after{
    width: 100px;
}
*/

.select_box .classfy_btn[aria-expanded="true"] ~ .select_menu{
    display: block;
}
.archive_btn .select_menu{
    top: 0;
}
/*
.select_menu{
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    max-height: 194px;
    border: 1px solid #00c73c;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    background-color: #fff;

}
*/

.select_menu .select_item{
    padding: 0 20px;
    width: 100%;
    font-family: "NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
    font-size: 15px;
    color: #606167;
    text-align: left;
    line-height: 48px;
}
.select_box::after{
    content: '';
    display: block;
    clear: both;
}
.search{
    display: inline-block;
    position: relative;
    width: 249px;
    height: 56px;
}
.search input{
    width: 100%;
    height: 56px;
    padding: 0 66px 0 0;
    border-bottom: 1px solid #dce0e6;
    font-size: 16px;
    color: #333;
    line-height: 56px;
}
input{
    border: 0;
    background: none;
    appearance: none;
    outline: 0;
    box-sizing: border-box;


}

.search .btn_search{
    position: absolute;
    right: 0;
    top: 4px;
    width: 46px;
    height: 46px;
    border-radius: 100px;
    transition: background-color .3s;
}
.search .btn_search::before {
    content: '';
    display: block;
    position: absolute;
    
    left: 50%;
    top: 50%;
    width: 40px;
    height: 25px;
    margin: -10px 0 0 -10px;
    background: url("search.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.search .btn_search:hover{background: rgba(240,240,240);}

.archive_warp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*
    grid-template-rows: 1fr 1fr 1fr;
    */
    min-width: 800px;
    row-gap: 40px;
    top: 0px;

}

.archive_box{
    display: inline-block;
    vertical-align: top;
    width: 85%;
    margin: 0 0 60px 0;  
}

.archive_img{
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 0 19px;
    padding-top: 56%;
    background: no-repeat 50%;
    background-size: contain;
    border: solid 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.archive_contents{
    width: 75vw;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-width: 860px;

}

.archive_section{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
    
}

.archive_text{
    color: #666666;
    /* display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    */
}

.archive_date{
    font-size: 12px;
    color: #808080;
}
.archive_summary{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: 20px;
    display: block;
    min-width: 1120px;
}
